body {
	background-color: white;
	text-align: center;


}

img{


}

h1{
	text-align: left;
	margin: 0 auto; width: 40%;
	font-family: arial;
}

h2{
	text-align: left;
	margin: 0 auto; width: 40%;
	font-family: arial;
}


p {
	
	background-color: white;
	text-align: left;
	color: black;
	font-family: Arial;
	font-size: 1.2em;
	margin: 0 auto; width: 40%;
}

img{
	margin: 60px 0 30px 0;
	width: 250px;
}

/*input-field {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}*/



input {
	background-color: white;
	width: 300px;
	height: 50px;
	margin: 20px;
	border: solid 2px black;
	border-radius: 10px;
	font-family: Arial;
	text-align: center;
	font-size: 1.3em;
}

input:focus {
	border:solid 2px black;
	outline: = none;

}

h4{
	text-align: left;
	margin: 0 auto; width: 40%;
	font-family: arial;

}

#greet{
	background-color: white;
	color: black;
	width: 100px;
}
#greet:hover{
	background-color: slategray;
	cursor: pointer;
}